BUSINESS UNDERSTANDING Our team is exploring the indian startup ecosystem to understand trends and identify promising opportunities. the goal is to analyze fundig data from 2018 to 2021, focusing on key factors such as the amount of funding received, sectors, stages of investiment, and geographic location

HYPOTHESIS TESTING 

Null Hypothesis(H0): There is no significant difference in the amount of funding received by startups accross different sectors and stages.

Alternative Hypothesis(H1): There is a significant difference in the amount of funding received by startups accross different sectors and stages.

DATA UNDERSTANDING COLUMNS 

Campany_Brand: Name of the startup.

founded: year the startup was founded.

HeadQuarter:city where the startup is headquarted.Sector, industry sector of the startup . 

What it does: Brief description of the startup's business.

Founders: Names of the founders.

Investors: investors or invest firls that funded the startup.

Amount: Amount of funding received (in dollars).

Stage: Stage of investment(eg., Pre-seed,Seed, SeriesA)

ANALYTICAL QUESTIONS
   
1.Funding Trends: How has the total  funding amount changed over the year from 2018 to 2021?
   How has the average funding amount ineach sector changed over the years(2018-2021)

2.Sector Analysis: Which Sectors have received the most funding, and how does the funding distribution vary across Sectors?

3.Stage Analysis: What is the distribution of funding accross different investment stages(e.g., Pre_Sees, Seed, Series A)?

4.Geographical Analysis: Which cities or regions have the highest concetration of funded startup?

5.Investor influence: Who are the top investors in the indian startup ecosystem, and what is their funding pattern?

6.Founder impact: Is there a correlation between number of funders and the amount of funding Received?

7.What are the characteristics of startup in the heighest funded sectors(e.g., number of funders, location)?

8.Which Business is more vaible to set_ The best performing business?

INSTALLING ALL PACKAGES NECESSARY

In [31]:
# # install packages that would help to pass through the project
# %pip install pandas
# %pip install pyodbc 
# %pip install python-dotenv 
# %pip install openpyxl
# %pip install seaborn
# %pip install statsmodels
# %pip install fuzzywuzzy
# %pip install python-Levenshtein
# %pip install scikit-learn

LOADING PACKAGES

In [32]:
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import statsmodels.api as sm
from fuzzywuzzy import process

CONNECTING DATABASE AND DIRECTORY

In [33]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values("G:\\python\\python project\\project\\Indian_Startup_Project\\.env")

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [34]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [35]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

LOADING DATA

In [36]:
# Query the tabeles as per the given instructions
query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

query = '''SELECT * FROM dbo.LP1_startup_funding2021'''

data3= pd.read_csv(r"G:\python\python project\project\startup_funding2019.csv")
 
data4= pd.read_csv(r"G:\python\python project\project\startup_funding2018.csv")

In [37]:
# Query the tabeles as per the given instructions
query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''
data =pd.read_sql(query, connection)
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [38]:
# get sumary statistics 
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [39]:
data.shape

(1055, 10)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

DATA CLEANING

In [41]:
data= data.drop(columns= 'column10')

In [42]:
data.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [43]:
data.duplicated().sum()

3

In [44]:
data= data.drop_duplicates()


 STEPS FOLLOWED TO EXTRACT DATA AND GETTING INSIGHT Through  Checking for unique values by exploring columns by columns with filter

NB. for avoiding more code ,I will use one code but change the column name wich will help me to filter the column mentioned. but also you may increase the number from five to numbers you want.

In [45]:
# Get all unique values in the "Company_Brand" column
data= pd.DataFrame(data)
unique_brands = data['Company_Brand'].unique()
# Print the first 50 unique values
print(unique_brands[:5])
# # if you want to get more readable result use the code below
# nique_Company_Brand_values = data['Company_Brand'].unique()
# print("Unique values in the 'Stage' column:")
# for value in nique_Company_Brand_values:
#     print(value)

['Aqgromalin' 'Krayonnz' 'PadCare Labs' 'NCOME' 'Gramophone']

 EXTRACTING NUMERIC VALUES INTO COLUMN WITH STRING  AND NONUMERIC VALUES WITH

In [46]:
# Ensure all values in the 'Amount' column are strings
data['Amount'] = data['Amount'].astype(str)

# Function to check if the value is non-numeric
def is_non_numeric(value):
    try:
        # Attempt to convert the cleaned value to a float
        float(value.replace(',', '').replace('₹', '').replace('$', '').replace('—', ''))
        return False
    except ValueError:
        return True

# Apply the function to filter out rows with non-numeric values in the 'Amount' column
non_numeric_values = data[data['Amount'].apply(is_non_numeric)]

# Display the filtered rows
# Display only the non-numeric values in the 'Amount' column
print(non_numeric_values['Amount'].unique()[:5])

[]

Check Whether there was misplaced value of Amount

In [47]:
# Define the regular expression pattern
pattern = r'^[\$\₹]|\b\d'

# Filter the DataFrame where 'Amount' values start with $, ₹, or an integer
data[data['Amount'].str.match(pattern, na=False)]
data

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,nan,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A

In [48]:
data.isna().sum()

Company_Brand      0
Founded          213
HeadQuarter       94
Sector            13
What_it_does       0
Founders          12
Investor          38
Amount             0
Stage            462
dtype: int64

In [49]:
# Filtering all rows with missing values in a specified column
(data
 [data
  .Founded
  .isna()
  ]
 )

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
162,Jade Forest,NaN,Delhi,Beverages,NATURALLY THE BEST From zero artificial ingred...,"Punweet Singh, Shuchir Suri",None,250000.0,Seed
164,FrontRow,NaN,Bangalore,EdTech,"Comprehensive courses, taught by idols.","Mikhil Raj, Shubhadit Sharma, Ishaan Preet Singh","Lightspeed, Elevation, Deepika Padukone",3200000.0,Seed
180,Traya,NaN,Mumbai,HealthTech,work with our customers closely to get their h...,"Altaf Saiyed, Saloni Anand","Kae Capital, Whiteboard Capital",nan,Seed
244,Hire Me Car,NaN,Noida,Car Service,India's largest cloud based digital discovery ...,Pankaj Sharma,None,nan,Seed
277,Uni,NaN,Mumbai,FinTech,The team aims to bridge the gap for credit car...,Nitin Gupta,"Lightspeed India Partners, Accel India",18500000.0,Seed
...,...,...,...,...,...,...,...,...,...
1042,Super Surfaces,NaN,Hyderabad,Deisgning,A design solution based company,Kumar Varma,Vishnu Reddy,500000.0,Series A
1043,Quicko,NaN,Ahmedabad,Taxation,Online tax planning and filing platform,Vishvajit Sonagara,"Zerodha fintech fund, Rainmatter",280000.0,None
1044,Satin Creditcare,NaN,Gurgaon,Fintech,A micro finance company,None,Austrian Bank,15000000.0,None
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round

In [50]:
# data=data['Stage'].replace('None','', inplace=True)

In [51]:
(data
 .isna()
 .mean())

Company_Brand    0.000000
Founded          0.202471
HeadQuarter      0.089354
Sector           0.012357
What_it_does     0.000000
Founders         0.011407
Investor         0.036122
Amount           0.000000
Stage            0.439163
dtype: float64

In [52]:
(data
  ['Stage']
  .interpolate(method='linear', )  
)

0             None
1         Pre-seed
2         Pre-seed
3             None
4             None
           ...
1050          None
1051    Seed Round
1052          None
1053      Series C
1054      Series A
Name: Stage, Length: 1052, dtype: object

print all msing values using specified column.

In [53]:
# Filtering all rows with missing values in a specified column
(data
 [data
  .Founded
  .isna()
  ]
 )

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
162,Jade Forest,NaN,Delhi,Beverages,NATURALLY THE BEST From zero artificial ingred...,"Punweet Singh, Shuchir Suri",None,250000.0,Seed
164,FrontRow,NaN,Bangalore,EdTech,"Comprehensive courses, taught by idols.","Mikhil Raj, Shubhadit Sharma, Ishaan Preet Singh","Lightspeed, Elevation, Deepika Padukone",3200000.0,Seed
180,Traya,NaN,Mumbai,HealthTech,work with our customers closely to get their h...,"Altaf Saiyed, Saloni Anand","Kae Capital, Whiteboard Capital",nan,Seed
244,Hire Me Car,NaN,Noida,Car Service,India's largest cloud based digital discovery ...,Pankaj Sharma,None,nan,Seed
277,Uni,NaN,Mumbai,FinTech,The team aims to bridge the gap for credit car...,Nitin Gupta,"Lightspeed India Partners, Accel India",18500000.0,Seed
...,...,...,...,...,...,...,...,...,...
1042,Super Surfaces,NaN,Hyderabad,Deisgning,A design solution based company,Kumar Varma,Vishnu Reddy,500000.0,Series A
1043,Quicko,NaN,Ahmedabad,Taxation,Online tax planning and filing platform,Vishvajit Sonagara,"Zerodha fintech fund, Rainmatter",280000.0,None
1044,Satin Creditcare,NaN,Gurgaon,Fintech,A micro finance company,None,Austrian Bank,15000000.0,None
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round

In [54]:
# data= data['Amount'].replace('nan', 0)
# data

In [59]:
# filling missing values using backward fill 
data= data.fillna(method= 'bfill')
data

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,Pre-seed
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,nan,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,Seed
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,Seed
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,2012.0,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,Seed Round
1051,EpiFi,2012.0,Mumbai,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,Series C
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A

In [60]:
data.isna().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [61]:
data.duplicated().sum()

0

In [62]:
# Get all unique values in the "unique_Amount" column
data= pd.DataFrame(data)
unique_Amount = data['Amount'].unique()
# Print the first 50 unique values
print(unique_Amount[:5])

['200000.0' '100000.0' 'nan' '400000.0' '340000.0']

In [64]:
data[['Company_Brand', 'HeadQuarter','Sector', 'What_it_does','Founders','Investor', 'Stage']]= data[['Company_Brand', 'HeadQuarter','Sector', 'What_it_does','Founders','Investor', 'Stage']].astype('category')

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   category
 1   Founded        1052 non-null   float64
 2   HeadQuarter    1052 non-null   category
 3   Sector         1052 non-null   category
 4   What_it_does   1052 non-null   category
 5   Founders       1052 non-null   category
 6   Investor       1052 non-null   category
 7   Amount         1052 non-null   object
 8   Stage          1052 non-null   category
dtypes: category(7), float64(1), object(1)
memory usage: 209.3+ KB

In [68]:

#Loading the second data
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
data =pd.read_sql(query, connection)
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed